{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 88,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "lf"
}
